body {
    background: #605e5e;
    padding-bottom: 8rem;
}

.container {
    display: flex;
    justify-content: center;
}

/* Card */
img {
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 5rem;
    display: flex;
}

span {
    color: goldenrod;
}

.moves {
    display: flex;
    justify-content: flex-start;
    color: #1a7081;
}

h1 {
    display: flex;
    justify-content: center;
}

p {
    font-size: 1.3rem;
}

/* Enlace vuelta pokedex */
.enlace {
    padding-top: 3rem;
    padding-left: 3rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: aqua;
}

/* Formulario */

.form-control {
    background: #605e5e;
    border: 2px solid #32d2f2;
    color: white;

}

::placeholder {
    color: white;
}

.offcanvas {
    background: #605e5e;
    color: white;
}