.titulo {
    display: block;
    justify-content: center;
    padding-bottom: 1rem;
    color: white;
}

.titulo h2 {
    font-size: 1rem;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

body {
    background: #605e5e;
}

.pokemonList {
    padding-bottom: 5rem;
}

.card {
    background: darkgray;
    cursor: pointer;
    max-width: 200px;
    margin-bottom: 5rem;
}

.card-title {
    display: flex;
    justify-content: center;
    color: #107184;
}

.boton {
    display: flex;
    justify-content: center;
    padding-bottom: 10rem;
}

.ganador {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

span {
    color: #02cff8;
}


.move {
    color: #107184;
}

p.card-text.moves {
    justify-content: space-between;
}

.card-text {
    display: flex;
    justify-content: flex-start
}

.resultados {
    font-size: 1rem;
}