.title {
    margin: 0 auto;
    padding-bottom: 3rem;
    display: flex;
    max-width: 50%;
    max-height: 50%;
    padding-top: 3rem;
}

header {
    padding-top: 2rem;
}

body {
    background: #605e5e;
}

.pokemonList {
    padding-bottom: 5rem;
}

/* .card {
    background: darkgray;
    cursor: pointer;
}

.card-title {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    color: #107184;
} */

img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.pokemon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border: 2px solid #107184;
    border-radius: 20px;
    padding-right: 1rem;
    margin-bottom: 1rem;
}

.pokemon p {
    color: white;
    cursor: pointer;
    margin-bottom: 0;
}

.imagen {
    width: 10%;
    height: 10%;
    cursor: pointer;
}

.pokeball {
    width: 8%;
    height: 8%;
    cursor: pointer;
}

.imagen img {
    border-radius: 15px;
}

.pokemon p:hover {
    color: #02cff8;
}

.pokemon i {
    color: white;
    cursor: pointer;
    font-size: 1.3rem;

}

.pokemon i:hover {
    color: #02cff8;
}

@media (max-width: 768px) {
    .col-6 {
        width: 100%;
    }
}