<body>

    <header>
        <app-header (nameEmitted)="getPokemons($event)" (typeEmitted)="getPokemonType($event)"
            (AllEmitted)="getAllPoke()" [pokemons]="arrPokemons" (FormEmitted)="createPokemon($event)">

        </app-header>
    </header>

    <main>

        <div class="title">
            <img src="../../../assets/images/pngwing.com.png" class="img-fluid">
        </div>

        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <div id="pokemons" class="container mt-5">
                        <div class="list">
                            <ul>
                                <li class="pokemon" *ngFor="let poke of arrPokemons">
                                    <div class="imagen">
                                        <img [src]="poke.urlImage" alt="" [routerLink]="['/pokemon',poke.id]"
                                            class="img-fluid">
                                    </div>
                                    <p [routerLink]="['/pokemon',poke.id]">{{poke.nombre}}</p>
                                    <img class="pokeball" src="../../../assets/images/pokeball.com.png"
                                        (click)="pokeSelected(poke.id)">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <app-combate [selectePokemon]="pokemonSelected"></app-combate>
                </div>
            </div>
        </div>

    </main>
</body>