.search {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.botones {
    padding-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.form-control {
    background: #605e5e;
    border: 2px solid #32d2f2;
    color: white;

}

::placeholder {
    color: white;
}

.offcanvas {
    background: #605e5e;
    color: white;
}

.error {
    color: #32d2f2;
}

/* Medias */
@media (max-width: 765px) {
    .buscador {
        flex-direction: column;
        gap: 2rem;
    }
}